body {
  margin: 0;
}

h1 {
  font-size: 36px;
}

.page_wrapper {
  font-size: 20px;
}

.nav-img {
  margin-left: 30px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c1c1c;
  z-index: 2;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 1200px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e7e3e3;
}

li {
  list-style-type: none;
  padding: 20px;
}

li a {
  text-decoration: none;
  color: #dfdddd;
}

.bacground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -o-object-fit: cover;
     object-fit: cover;
  height: 750px;
}

.section_wrapper {
  color: #e7e3e3;
  padding-top: 200px;
  max-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

div div .section_oject1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
}

.logo2 {
  width: 350px;
}

.line {
  border: 1px;
  border-color: #e7e3e3;
  background-color: tomato;
  height: 1px;
  width: 75px;
  margin: 0;
}

.downolad_button {
  background: transparent;
  width: 135px;
  height: 42px;
  color: white;
  border-style: solid;
  border-color: #e7e3e3;
}

form {
  border-radius: 10px;
  width: 360px;
  margin: 40px;
  margin-left: 80px;
  background-color: #e7e3e3;
  color: black;
  margin-right: 0px;
}

form h1 {
  padding-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 25px;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 5px;
}

span {
  color: tomato;
}

.details {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 300px;
  padding-top: 20px;
}

.top_text {
  background-color: #e7e3e3;
}

.radial-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  color: #1c1c1c;
}

.get-started {
  width: 100%;
  height: 60px;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #41d395;
}

.radial-button {
  width: 30px;
  height: 30px;
  color: #41d395;
}

.get-started {
  font-size: 25px;
  color: #e7e3e3;
}

.container {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.media {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media h3 {
  margin-bottom: 10px;
}

.media p {
  max-width: 420px;
  color: #d1cece;
  margin-top: 10px;
}

.media a {
  padding: 0 60px;
}

.features-container {
  height: 600px;
  margin: 0 auto;
  z-index: 2;
}

.features-container .bacground-kalnai {
  position: absolute;
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -o-object-fit: cover;
     object-fit: cover;
  height: 600px;
  z-index: -2;
  height: 600px;
}

.features-container .feature-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.features-container .feature-wrapper .tab-section .tab-container .tab-nav .tab-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.features-container .feature-wrapper .tab-section .tab-container .tab-nav .tab-ul li {
  height: 100px;
  width: 100px;
  padding: 0;
  background-color: #a37169;
}

.features-container .feature-wrapper .tab-section .tab-container .tab-nav .tab-ul li a {
  height: 100px;
  width: 100px;
}

.black-container {
  background-color: #1c1c1c;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

.black-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
}

.big-logo {
  width: 388px;
  height: 210px;
}

.black-text {
  width: 500px;
}

.black-text .line2 {
  border: 1px;
  border-color: #e7e3e3;
  background-color: tomato;
  height: 1px;
  width: 150px;
  margin: 0;
}

.black-text .black-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.black-text .black-element img {
  width: 100px;
  padding: 20px;
}

.black-text .black-element h4 {
  margin-top: 15px;
  margin-bottom: 8px;
}

.white-container {
  background-color: white;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.white-container .white-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 600px;
}

.white-container .white-wrapper .white-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.white-container .white-wrapper h1 {
  margin-top: 80px;
}

.white-container .white-wrapper .white-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

.white-container .white-wrapper .white-elements .white-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.white-container .white-wrapper .white-elements .white-element img {
  width: 50px;
}

.pricing-container {
  background-color: #6696e2;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pricing-container .pricing-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 900px;
}

.pricing-container .pricing-wrapper h1 {
  padding-top: 50px;
}

.pricing-container .pricing-wrapper p {
  margin: 30px;
  margin-bottom: 10px;
}

.pricing-container .pricing-wrapper .pricing-wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 60px;
  padding-bottom: 50px;
}

.pricing-container .pricing-wrapper .pricing-wrapper2 .pricing-1 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
}

.pricing-container .pricing-wrapper .pricing-wrapper2 .pricing-1 .pricing {
  font-size: 94px;
  height: 100px;
}

.pricing-container .pricing-wrapper .pricing-wrapper2 .pricing-1 li {
  width: 310px;
  color: #1c1c1c;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

.pricing-container .pricing-wrapper .pricing-wrapper2 .pricing-1 li span {
  font-size: 30px;
  color: white;
}

.pricing-container .pricing-wrapper .pricing-wrapper2 .pricing-1 .green {
  background-color: #41d395;
}

.pricing-container .pricing-wrapper .pricing-wrapper2 .pricing-1 .black {
  background-color: #323232;
  color: white;
}

.pricing-container .pricing-wrapper .pricing-wrapper2 .pricing-1 div {
  width: 350px;
  height: 10px;
}

.slider-container {
  background-color: white;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 600px;
}

.slider-container h1 {
  margin-top: 0;
}

.slider-container .swiper-container .swiper-top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.slider-container .swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider-container .swiper-container .swiper-wrapper .swiper-slide .coment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
}

.slider-container .swiper-container .swiper-wrapper .swiper-slide .slider-text {
  width: 300px;
  background-color: #6696e2;
  border-radius: 15px;
}

.slider-container .swiper-container .swiper-wrapper .swiper-slide .slider-text p {
  margin: 30px;
}

.slider-container .swiper-container .swiper-wrapper .swiper-slide .slider-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-container .swiper-container .swiper-wrapper .swiper-slide .slider-user img {
  width: 80px;
  border-radius: 80px;
  margin-right: 20px;
}

.slider-container .swiper-container .swiper-wrapper .swiper-slide .slider-user div h2 {
  margin-bottom: 10px;
}

.slider-container .swiper-container .swiper-wrapper .swiper-slide .slider-user div p {
  margin-top: 10px;
}

.swiper-pagination-bullet {
  padding-top: 50px;
  position: fixed;
}

.swiper-pagination {
  width: 25px;
  height: 25px;
}

.contact-container {
  background-color: #e27866;
  width: 100%;
}

.contact-container .contact-wrapper {
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
  color: white;
}

.contact-container .contact-wrapper h1 {
  margin-top: 70px;
}

.contact-container .contact-wrapper .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .contact-wrapper .canotact-form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container {
  background-color: #1c1c1c;
  width: 100%;
}

.footer-container .footer-wrapper {
  max-width: 1200px;
  height: 130px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
}

.footer-container .footer-wrapper div img {
  margin-right: 100px;
}

.footer-container .footer-wrapper div p {
  color: white;
}
/*# sourceMappingURL=style.css.map */